body {
	min-width:900px;
	max-width:1000px;
	background-color:#696969;
	font-family:Verdana,Arial;
	font-size:90%;
	
}

#header {
	top:1em;
	height:80px;
	left:1em;
	right:1em;
	background:#333 url(../img/header_right_v2.png) no-repeat right;
	border:1px solid black;
}

#footer {
	left:1em;
	right:1em;
	text-align:right;
}

#navigation_container {
	height:1.5em;
	left:1em;
	right:1em;
	background:#000000;
	border:1px solid black;
	padding:0;
	margin:0;
}

#navigation {
	position:relative;
	float:right;
	right:2em;
	list-style:none;
	margin:0;
	padding:0;
}

#navigation li {
	position:relative;
	right:-1em;
	float:left;
	background:#000000;
	color:#ffffff;
        border-left:1px solid white;
        padding-left:0.5em;
        margin-left:0.5em;
}

#navigation li a {
        text-decoration: none;
        color:#ffffff;
}

#navigation li a:hover {
        text-decoration: underline;
}

#content {
	left:1em;
	right:1em;
	border:1px solid black;
	background:#ffffff;
	margin:0;
	padding:1em;
}

h1 {
	color:#ffaa00;
}

h2 {
	color:#ffaa00;
}

h3 {
	color:#ffaa00;
}

#firstname, #lastname, #dateofbirth, #sex, #username, #password, #stacksize {
	position:absolute;
	left:20em;
	width:140px;
}

p {
	margin-left:1em;
}

/* --------------- TABLE BEREICH ---------------- */

#card-box {
	margin:0em;
}

#clear-divider {
	clear:right;
}

#card-box img {
	margin:0.5em;
}

#cardbox div {
	width:100%;
	height:102px;
}

#right-box {
	float:right;
	background:#333;
	border:1px solid black;
	padding:1em;
	padding-top:0.1em;
	margin:0em;
	width:25%;
}

#right-box p {
	
	margin:0em;
	padding:0.2em;
}

#right-box img {
	width:60px;
	border:1px solid white;
	vertical-align:middle;
}

#right-box a {
	text-decoration:underline;
	color:white;
	padding-left:0.1em;
}

#right-box h2 {
	font-size:1.1em;
}

#score
{
	width:100%;
}

#score th
{
	color:#ffaa00;
	font-size:0.8em;
	text-decoration:none;	
}

#score td
{
	font-size:0.8em;
	text-decoration:none;
	text-align:center;
	color:white;
}

.tablehead
{
		text-align:left;
}

.hidden
{
	display:none;
}

#gameinfo
{
	width:100%;
}

#gameinfo th
{
	color:#ffaa00;
	font-size:0.8em;
	text-decoration:none;
	text-align:left;
}
#gameinfo td
{
	font-size:0.8em;
	text-decoration:none;
	text-align:left;
	color:white;
}

#favorites
{
    list-style:none;
    padding:0;
}

#card-box td
{
    text-align:center;
    width:110px;
    height:110px;
}